nav {

    background-color:rgb(66, 55, 127);
    color: rgb(177, 170, 170);
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;

}

nav ul { 
display: flex;
justify-content: space-around;
align-items: center;

}

nav li { 
    list-style: none;
}

nav li a{
    color:rgb(166, 165, 168);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}


nav li a:hover{
    
    color: yellow;
    text-decoration: none;
}